---
import type { CollectionEntry } from 'astro:content';

import WorkContent from './WorkContent.astro';
import WorkImageParallax from './WorkImageParallax';

interface Props {
	entry: CollectionEntry<'work'>;
	index: number;
}

const { entry, index } = Astro.props;
const image = entry.data.image;
const direction = index % 2 === 0 ? 'up' : 'down';
---

<article class="grid grid-cols-3 gap-x-4 md:grid-cols-6 md:gap-x-6 xl:grid-cols-12 xl:gap-x-8">
	<WorkContent entry={entry} />
	{
		image && (
			<div class="rounded-2 col-span-3 overflow-hidden md:col-span-6 xl:col-span-12">
				<button
					type="button"
					aria-label="Open image in lightbox"
					class="block w-full cursor-zoom-in border-0 bg-transparent p-0"
					data-lightbox="true"
				>
					<WorkImageParallax
						src={image.src}
						alt={entry.data.title}
						direction={direction}
						client:visible
					/>
				</button>
			</div>
		)
	}
</article>
