---
import WorkImageParallax from './WorkImageParallax';

interface Props {
	src: string;
	alt: string;
	className?: string;
}

const { src, alt, className } = Astro.props;
---

<div class:list={['rounded-2 overflow-hidden', className]}>
	<button
		type="button"
		aria-label="Open image in lightbox"
		class="block h-full w-full cursor-zoom-in border-0 bg-transparent p-0"
		data-lightbox="true"
	>
		<WorkImageParallax
			src={src}
			alt={alt}
			className="h-full w-full object-cover"
			client:visible
		/>
	</button>
</div>
