---
import type { CollectionEntry } from 'astro:content';

import WorkContent from './WorkContent.astro';
import WorkImage from './WorkImage.astro';

interface Props {
	entry: CollectionEntry<'work'>;
}

const { entry } = Astro.props;
const image = entry.data.image;
---

<article
	class="grid grid-cols-3 gap-x-4 gap-y-6 md:grid-cols-6 md:gap-x-6 xl:grid-cols-12 xl:gap-x-8"
>
	<div class="col-span-3 self-center md:col-span-3 xl:col-span-5 xl:col-start-1">
		<WorkContent entry={entry} />
	</div>
	{
		image && (
			<div class="col-span-3 md:col-span-3 md:col-start-4 xl:col-span-6 xl:col-start-7">
				<WorkImage src={image.src} alt={entry.data.title} />
			</div>
		)
	}
</article>
