---
import type { CollectionEntry } from 'astro:content';

import WorkContent from './WorkContent.astro';

interface Props {
	entry: CollectionEntry<'work'>;
}

const { entry } = Astro.props;
const images = entry.data.images ?? [];
---

<article
	class="grid grid-cols-3 gap-x-4 gap-y-6 md:grid-cols-6 md:gap-x-6 xl:grid-cols-12 xl:gap-x-8"
>
	<div
		class="col-span-3 grid grid-cols-2 gap-3 md:col-span-6 md:grid-cols-3 xl:col-span-12 xl:grid-cols-4"
	>
		{
			images.map((img) => (
				<div class="rounded-2 overflow-hidden">
					<img
						src={img.src}
						alt={img.alt ?? entry.data.title}
						class="h-full w-full object-cover"
						loading="lazy"
						decoding="async"
					/>
				</div>
			))
		}
	</div>
	<div class="col-span-3 md:col-span-4 md:col-start-2 xl:col-span-6 xl:col-start-4">
		<WorkContent entry={entry} />
	</div>
</article>
