---
import { Github, Instagram, Mail, TwitterX } from '../icons';
import Link from '../ui/Link';
---

<nav class="flex flex-1 sm:justify-center" aria-label="Social Links">
	<a
		aria-label="Mail"
		class="h-clickarea w-clickarea flex cursor-pointer items-center justify-center transition-transform duration-500 ease-in-out hover:scale-125 focus:scale-125"
		data-umami-event="Social Icon: Mail"
		href="#protected-email"
		title="Mail"
		data-domain="stefanimhoff"
		data-name="hey"
		data-tld="de"
		onclick="window.open(`mailto:${this.dataset.name}@${this.dataset.domain}.${this.dataset.tld}`, '_blank')"
	>
		<Mail aria-hidden="true" className="icon h-icon-small w-icon-small" />
	</a>
	<Link
		aria-label="Twitter/X"
		className="h-clickarea w-clickarea flex cursor-pointer items-center justify-center transition-transform duration-500 ease-in-out hover:scale-125 focus:scale-125"
		data-umami-event="Social Icon: 𝕏"
		href="https://x.com/kogakure"
		title="𝕏"
	>
		<TwitterX aria-hidden="true" className="icon h-icon-small w-icon-small" />
	</Link>
	<Link
		aria-label="Instagram"
		className="h-clickarea w-clickarea flex cursor-pointer items-center justify-center transition-transform duration-500 ease-in-out hover:scale-125 focus:scale-125"
		data-umami-event="Social Icon: Instagram"
		href="https://instagram.com/kogakure"
		title="Instagram"
	>
		<Instagram aria-hidden="true" className="icon h-icon-small w-icon-small" />
	</Link>
	<Link
		aria-label="GitHub"
		className="h-clickarea w-clickarea flex cursor-pointer items-center justify-center transition-transform duration-500 ease-in-out hover:scale-125 focus:scale-125"
		data-umami-event="Social Icon: GitHub"
		href="https://github.com/kogakure"
		title="GitHub"
	>
		<Github aria-hidden="true" className="icon h-icon-small w-icon-small" />
	</Link>
</nav>
