---
import BaseLayout from '@/layouts/BaseLayout.astro';
import PageTitle from '@/components/site/PageTitle.astro';
import PageSection from '@/components/ui/PageSection';

import { Content as Design } from '@/text/colophon/design.mdx';
import { Content as Technology } from '@/text/colophon/technology.mdx';
import { mapping } from '@/mdx-components';

const title = 'Colophon';
const description = 'How this website was designed and built.';
---

<BaseLayout title={title} description={description}>
	<PageTitle>Colophon</PageTitle>

	<div class="max-w-360 mx-auto flex w-full flex-col gap-16 px-8 pb-32">
		<PageSection label="Design">
			<div class="*:mbe-0 flex flex-col gap-5 leading-relaxed">
				<Design components={mapping} />
			</div>
		</PageSection>

		<PageSection label="Technology">
			<div class="*:mbe-0 flex flex-col gap-5 leading-relaxed">
				<Technology components={mapping} />
			</div>
		</PageSection>
	</div>
</BaseLayout>
