---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-5 font-black text-orange-700">Hello, world!</h1>
		<p class="mb-4 text-sky-400">
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium optio magni
			asperiores fugiat, necessitatibus voluptatem sit quaerat pariatur natus, tempora
			voluptatibus vero eveniet repudiandae, expedita libero. Cum cupiditate at placeat.
		</p>
	</main>
</Layout>
