---
import { getCollection } from 'astro:content';

import { sortBySortKey } from '../utils/sort-by-sortkey';

import GridLayout from '../layouts/GridLayout.astro';
import PageTitle from '../components/PageTitle.astro';
import { MoreLink } from '../components';

import { Content as Intro } from '../text/projects/intro.mdx';

import { mapping } from '../mdx-components';
const allProjects = await getCollection('projects');
allProjects.sort(sortBySortKey).reverse();
---

<GridLayout title="Projects" grid="fullsize" class="grid" innerGrid>
	<PageTitle
		grid="wide"
		innerGrid
		class="!col-start-2 !col-end-18 md:!col-start-3 md:!col-end-17"
	>
		Projects
	</PageTitle>

	<article class="col-start-2 col-end-18 md:col-start-6 md:col-end-14">
		<Intro components={mapping} />
	</article>

	<div class="col-start-1 col-end-19">
		{
			allProjects.map(({ slug, data }) => (
				<li>
					<h2>{data.title}</h2>
					<p>{data.description}</p>
					<div>{data.categories.join(' / ')}</div>
					{data.more && (
						<MoreLink href={data.more.link} text={data.more.text || 'See more'} />
					)}
				</li>
			))
		}
	</div>
</GridLayout>
