---
// Cspell:words astro tabindex clickarea umami classnames
import cx from 'classnames';

import { ArrowLeft } from './icons';
import Link from './Link.astro';

interface Props {
	class?: string;
	backLink?: string;
}

const { backLink, class: className, ...props } = Astro.props;

const classes = cx(
	'col-span-2 col-start-1 h-clickarea w-clickarea items-center justify-center self-center justify-self-center transition-transform duration-500 ease-in-out hover:-translate-x-1 focus:-translate-x-1 print:hidden md:col-span-1',
	className
);
---

{
	backLink && (
		<Link
			aria-label="Back to overview"
			class={classes}
			data-umami-event="Back to overview"
			href={backLink}
			{...props}
		>
			<button
				class="flex h-clickarea w-clickarea cursor-pointer items-center justify-center border-none text-[0]"
				type="button"
				tabindex={-1}
			>
				<ArrowLeft class="icon h-icon w-icon" />
			</button>
		</Link>
	)
}
