---
// Cspell:words astro tabindex
interface Props {
	alt?: string;
	class?: string;
	src: string;
}

const { alt = '', class: className, src, ...props } = Astro.props;
---

<div
	class:list={[
		"image-shadow relative box-border grid h-auto max-w-[250px] shrink grow justify-self-center overflow-hidden align-bottom shadow-book before:absolute before:z-10 before:block before:h-full before:w-[0.5em] before:bg-gradient-to-r before:from-black/30 before:to-transparent before:shadow-book-before before:content-[''] before:rounded-is-1",
		className,
	]}
	tabindex={0}
>
	<img alt={alt} src={src} {...props} />
</div>
