---
// Cspell:words astro
export interface Props {
	class?: string;
	[key: string]: any;
}

const { class: className, ...props } = Astro.props;
---

<div class:list={['[&_img]:bg-gray-100 [&_img]:p-10', className]} {...props}>
	<slot />
</div>
