---
// Cspell:words astro
import { Download } from './icons';
import TextLink from './TextLink.astro';

interface Props {
	href: string;
	text: string;
}

const { href, text, ...props } = Astro.props;
---

<TextLink class="group" href={href} {...props}>
	{text}
	<span class="more-icon relative inline-flex mis-[0.2em] block-start-[0.2em]">
		<Download
			aria-hidden="true"
			class="icon h-icon w-icon transition-transform duration-500 ease-in-out group-hover:translate-y-1 group-focus:translate-y-1"
		/>
	</span>
</TextLink>
