---
// Cspell:words astro fullsize nowrap figcaption
export interface Props {
	caption?: string;
	class?: string;
	size?: 'regular' | 'wide' | 'fullsize';
}

const { class: className, caption, size = 'regular', ...props } = Astro.props;
---

<figure
	class:list={[
		'rounded-4 bg-white/50 p-8 mbe-13 mbs-0 mie-0 mis-0 dark:bg-black/80',
		{ 'figure-wide': size === 'wide', 'figure-fullsize': size === 'fullsize' },
		className,
	]}
	{...props}
>
	<div class="flex flex-wrap gap-6 md:flex-nowrap [&_div]:flex-grow">
		<slot />
	</div>
	{
		caption && (
			<figcaption class="text-center text-2 mbs-2 [text-wrap:balance]">{caption}</figcaption>
		)
	}
</figure>
