---
import cx from 'classnames';
import { Image } from '@astrojs/image/components';
import type { ImageComponentLocalImageProps } from '@astrojs/image/components';

interface Props extends ImageComponentLocalImageProps {
	class?: string;
	noMargin?: boolean;
	slot?: string;
}

const { class: className, noMargin, ...props } = Astro.props;

const classes = cx('image-shadow mbe-10 mbs-0', { 'mbe-0': noMargin }, className);
---

<div class={classes}>
	<Image
		class="block h-auto w-full rounded-1 border-1 border-solid border-black/[0.1] bg-black/[0.1] shadow shadow-black/10 dark:border-white/[0.1] dark:opacity-[0.87] dark:shadow-white/10"
		{...props}
	/>
</div>
