---
import { LegalDate } from '.';

import { site } from '../data/site';
---

<div class="flex flex-1 shrink-0 items-center">
	<span class="relative text-[14px] mie-[0.25em] block-start-[1px]">©</span>
	<span class="shrink-0">
		<LegalDate client:idle />
	</span>
	<span class="mli-[0.25em]">•</span>
	<strong class="shrink-0 uppercase tracking-wider">{site.author}</strong>
</div>
