---
// Cspell:words astro noopener noreferrer
interface Props {
	class?: string;
	href?: string;
	[key: string]: any;
}

const { class: className, href = '#', ...props } = Astro.props;

const isExternal = (href as string).startsWith('http');
---

<a
	class:list={['link', { external: isExternal }, className]}
	href={href}
	rel={isExternal ? 'nofollow noopener noreferrer' : undefined}
	target={isExternal ? '_blank' : undefined}
	{...props}
>
	<slot />
</a>
