---
// Cspell:words astro
export interface Props {
	class?: string;
	[key: string]: any;
}

const { class: className, ...props } = Astro.props;
---

<li class:list={['mbe-2', className]} {...props}>
	<slot />
</li>
