---
import Link from './Link.astro';

import navigation from '../data/navigation.json';
---

<ul class="flex">
	<nav class="navigation hidden md:flex" role="navigation" aria-label="Main">
		<ul class="flex flex-wrap">
			{
				navigation.map(({ title, url }) => (
					<li class="mie-[10px] xs:mie-[15px]">
						<Link
							class="rounded-2 pli-3 pbe-2 pbs-3 hover:bg-shibui-950/10 focus:bg-shibui-950/10 hover:dark:bg-shibui-50/10 focus:dark:bg-shibui-50/10"
							data-umami-event={title}
							href={url}
						>
							{title}
						</Link>
					</li>
				))
			}
		</ul>
	</nav>
</ul>
