---
import Link from './Link.astro';

import navigation from '../data/navigation.json';
---

<ul class="flex">
	<nav class="navigation hidden md:flex" role="navigation" aria-label="Main">
		<ul class="flex flex-wrap">
			{
				navigation.map(({ title, url }) => (
					<li class="mie-[10px] xs:mie-[15px]">
						<Link
							class="text-3 font-light decoration-4 underline-offset-auto hover:underline hover:decoration-shibui-900/20 focus:underline focus:decoration-shibui-900/20 dark:hover:decoration-shibui-100/20 dark:focus:decoration-shibui-100/20"
							data-umami-event={title}
							href={url}
						>
							{title}
						</Link>
					</li>
				))
			}
		</ul>
	</nav>
</ul>
