---
import { Menu } from './icons';
import Link from './Link.astro';
---

<Link
	aria-label="Open the navigation menu"
	class="h-clickarea w-clickarea scale-75 transition-transform duration-500 ease-in-out hover:scale-90 focus:scale-90 md:col-span-1 md:hidden print:hidden"
	href="#menu"
	id="menu-link"
	title="Menu"
>
	<button
		aria-hidden="true"
		class="flex h-clickarea w-clickarea cursor-pointer items-center justify-center border-none text-[0] outline-none"
		data-umami-event="Menu"
		tabindex={-1}
		type="button"
	>
		<Menu aria-hidden="true" className="icon h-icon w-icon" />
	</button>
</Link>
