---
export interface Props {
	class?: string;
	id: string;
	[key: string]: any;
}

const { class: className, id, ...props } = Astro.props;
---

<div class:list={['relative aspect-video mbe-10', className]} {...props}>
	<iframe
		allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen
		class="absolute h-full w-full"
		frameborder="0"
		src={`https://odysee.com/$/embed/${id}`}></iframe>
</div>
