---
import MainNavigation from '../components/MainNavigation.astro';
import ThemeToggle from '../components/ThemeToggle.astro';
import Logo from '../components/Logo.astro';

import SearchLink from './SearchLink.astro';
import MenuLink from './MenuLink.astro';

export interface Props {
	class?: string;
	navigation?: boolean;
}

const { class: className, navigation = true } = Astro.props;
---

<header
	class:list={[
		'sticky z-50 grid w-full grid-cols-[0.25fr,0.25fr,0.5fr,8fr,8fr,0.5fr,0.25fr,0.25fr] grid-rows-[clamp(3rem,_5.55vw,_9rem)] bg-shibui-100 mbe-layout block-start-0 dark:bg-shibui-900 print:hidden',
		className,
	]}
	role="banner"
>
	<div class="navigation col-start-4 col-end-5 flex items-center justify-start md:col-start-2">
		<Logo />
	</div>
	<div class="col-start-5 col-end-6 flex items-center justify-end mie-[-10px] md:col-end-8">
		{navigation && <MainNavigation />}
		<SearchLink />
		<ThemeToggle />
		<MenuLink />
	</div>
</header>
