---
import Legal from './Legal.astro';
import SocialLinks from './SocialLinks.astro';
import UpLink from './UpLink.astro';
---

<footer
	class="page-footer bg-shibui-200 mbs-layout pli-halfcolumn pbe-[calc(2.775vw/2)] pbs-halfcolumn border-bs-2 border-bs-shibui-250 dark:bg-shibui-950 dark:border-bs-shibui-850 print:hidden"
>
	<div class="meta">Meta Footer</div>
	<div class="small flex flex-wrap gap-4 text-[12px]">
		<Legal />
		<SocialLinks />
		<UpLink />
	</div>
</footer>
