---
import MainNavigation from '../components/MainNavigation.astro';
import ThemeToggle from '../components/ThemeToggle.astro';
import Logo from '../components/Logo.astro';
import { ListMagnifyingGlass } from '@phosphor-icons/react';

export interface Props {
	class?: string;
	navigation?: boolean;
}

const { class: className, navigation = true } = Astro.props;
---

<header
	class:list={[
		'sticky top-0 z-50 flex items-center justify-between bg-shibui-100 px-8 py-4 dark:bg-shibui-900 print:hidden',
		className,
	]}
	role="banner"
>
	<Logo />
	<div class="flex items-center gap-1">
		{navigation && <MainNavigation />}
		<button
			aria-label="Open command menu"
			class="flex h-clickarea w-clickarea cursor-pointer items-center justify-center rounded-2 border-0 transition-colors duration-100 hover:bg-shibui-950/10 focus:bg-shibui-950/10 dark:hover:bg-shibui-50/10 dark:focus:bg-shibui-50/10"
			data-umami-event="Command Menu"
			onclick="document.dispatchEvent(new CustomEvent('command-menu:open'))"
			type="button"
		>
			<ListMagnifyingGlass aria-hidden="true" className="icon h-icon-small w-icon-small" />
		</button>
		<ThemeToggle />
	</div>
</header>
