---
import Title from './Title.astro';

export interface Props {
	class?: string;
	grid?: 'narrow' | 'wide' | 'fullsize';
	innerGrid?: boolean;
}

const { class: className, grid = 'narrow', innerGrid } = Astro.props;
---

<Title
	class:list={[
		'col-start-1 col-end-19 !mbe-0',
		{
			'col-start-2 col-end-3 md:col-start-3 md:col-end-17': grid === 'narrow',
			'row-start-1': innerGrid,
			'!col-start-2 !col-end-18 md:!col-start-3 md:!col-end-17': !innerGrid,
		},
		className,
	]}
>
	<slot />
</Title>
