---
import cx from 'classnames';

import { Picture as AstroImageToolsPicture } from 'astro-imagetools/components';
import type { PictureConfigOptions } from 'astro-imagetools';

interface Props extends PictureConfigOptions {
	alt: string;
	aspect: number;
	breakpoints?: number[];
	class?: string;
	noMargin?: boolean;
	src: string;
}

const { class: className, noMargin, src, ...props } = Astro.props;

const classes = cx(
	'image-shadow block h-auto w-full rounded-1 border-1 border-solid border-black/[0.1] bg-black/[0.1] shadow shadow-black/10 mbe-10 mbs-0 dark:border-white/[0.1] dark:opacity-[0.87] dark:shadow-white/5 border-x-0',
	{ 'mbe-0': noMargin },
	className
);
---

<div class={classes}>
	{
		src.includes('.svg') ? (
			<img src={src} {...(props as any)} />
		) : (
			<AstroImageToolsPicture
				breakpoints={[500, 1000, 1500]}
				format={['avif']}
				src={src}
				{...props}
			/>
		)
	}
</div>
