---
// Cspell:words astro
import Link from './Link.astro';

export interface Props {
	class?: string;
	id: string;
	[key: string]: any;
}

const { class: className, id, ...props } = Astro.props;
---

<Link
	class:list={[
		'rounded-1 border-1 border-solid border-sky-500 bg-sky-500 font-mono text-[0.7em] text-white decoration-0 pli-[0.3em] pbe-0 pbs-[0.1em] print:border-gray-500 print:bg-transparent',
		className,
	]}
	href={`https://www.amazon.de/gp/video/detail/${id}`}
	title="Prime Video"
	{...props}
>
	<span class="hidden" aria-hidden="true">[</span>
	P
	<span class="hidden" aria-hidden="true">rime Video]</span>
</Link>
