---
import { Sprite } from 'astro-icon';

import Subsubheadline from './Subsubheadline.svelte';
---

<div class="grow mbe-5 sm:mbe-0">
	<Subsubheadline>Stay up to date.</Subsubheadline>
	<p>
		<a href="/rss.xml" rel="nofollow noopener noreferrer external" target="_blank">
			<Sprite name="ri:rss-fill" class="h-icon w-icon inline" />
			Subscribe via RSS
		</a>
	</p>
</div>
