---
import { Sprite } from 'astro-icon';

import { Link, Subsubheadline } from '.';
---

<div class="grow mbe-5 sm:mbe-0">
	<Subsubheadline>Stay up to date.</Subsubheadline>
	<p>
		<Sprite name="ri:rss-fill" class="inline h-icon w-icon" />
		<Link
			class="font-light decoration-4 underline-offset-auto hover:underline hover:decoration-shibui-900/20 focus:underline focus:decoration-shibui-900/20 dark:hover:decoration-shibui-100/20 dark:focus:decoration-shibui-100/20"
			href="/rss.xml"
			target="_blank"
		>
			Subscribe via RSS
		</Link>
	</p>
</div>
