---
import { Sprite } from 'astro-icon';

import Subsubheadline from './Subsubheadline.astro';
---

<div class="grow mbe-5 sm:mbe-0">
	<Subsubheadline>Stay up to date.</Subsubheadline>
	<p>
		<Sprite name="ri:rss-fill" class="h-icon w-icon inline" />
		<a
			class="font-light decoration-4 underline-offset-auto hover:underline hover:decoration-shibui-900/20 dark:hover:decoration-shibui-100/20"
			href="/rss.xml"
			rel="nofollow noopener noreferrer external"
			target="_blank"
		>
			Subscribe via RSS
		</a>
	</p>
</div>
