---
// Cspell:words astro subsubheadline umami shibui
import { Rss } from './icons';
import Link from './Link.astro';
import Subsubheadline from './Subsubheadline.astro';
---

<aside class="grow mbe-5 sm:mbe-0">
	<Subsubheadline as="h2">Stay up to date.</Subsubheadline>
	<p>
		<Rss class="icon inline h-icon w-icon" />{' '}
		<Link
			class="font-light decoration-4 underline-offset-auto hover:underline hover:decoration-shibui-900/20 focus:underline focus:decoration-shibui-900/20 dark:hover:decoration-shibui-100/20 dark:focus:decoration-shibui-100/20"
			data-umami-event="RSS"
			href="/rss.xml"
			target="_blank"
		>
			Subscribe via RSS
		</Link>
	</p>
</aside>
