---
import Search from 'astro-pagefind/components/Search';

import { Link } from '.';
import { Close } from './icons';
---

<dialog>
	<header
		class="flex h-[clamp(3rem,_5.55vw,_9rem)] w-full items-center justify-end block-start-0 md:pie-gap md:pis-gap"
	>
		<Link
			id="close-search"
			class="transition-transform duration-500 ease-in-out block-start-0 hover:scale-125"
		>
			<button
				aria-label="Close Search Modal"
				class="flex h-[2em] w-[2em] cursor-pointer items-center justify-center text-shibui-950 dark:text-shibui-200/[0.87]"
			>
				<Close class="icon h-[2em] w-[2em]" />
			</button>
		</Link>
	</header>
	<search>
		<Search />
	</search>
</dialog>

<style is:global>
	dialog::backdrop {
		@apply bg-shibui-100  dark:bg-shibui-900;
		animation: show-dimmer 0.2s ease-in-out;
	}

	dialog.hide::backdrop {
		animation: hide-dimmer 0.2s ease-in-out;
	}

	dialog {
		@apply h-full;
	}

	dialog[open] {
		@apply m-gap w-[calc(100%_-_5.55vw_*_2)] bg-shibui-100 p-0 font-sans font-normal leading-relaxed text-shibui-950 common-ligatures dark:bg-shibui-900 dark:text-shibui-200/[0.87];
		animation: show-modal 0.2s ease-in-out;
	}

	dialog.hide {
		animation: hide-modal 0.2s ease-in-out;
	}

	@keyframes show-modal {
		from {
			opacity: 0;
			transform: translateY(50px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes show-dimmer {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes hide-modal {
		from {
			opacity: 1;
			transform: translateY(0);
		}
		to {
			opacity: 0;
			transform: translateY(50px);
		}
	}

	@keyframes hide-dimmer {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}

	.pagefind-ui {
		@apply !font-sans !font-normal !leading-relaxed pbe-gap common-ligatures md:px-gap;
	}

	.pagefind-ui__form::before {
		@apply !hidden;
	}

	.pagefind-ui__search-input,
	.pagefind-ui__search-clear {
		@apply !text-shibui-950 dark:!text-shibui-100;
	}

	.pagefind-ui__search-input {
		@apply !h-[clamp(3.3rem,_7.3vw,_8.5rem)] !rounded-none !border-0 !border-solid !border-black/[0.1] !bg-transparent !text-6 !font-black !leading-normal !pis-0 !border-be-2 !border-bs-0 !border-ie-0 !border-is-0 dark:!border-white/[0.1] dark:!font-extrabold md:!text-7;
	}

	.pagefind-ui__search-input::placeholder {
		@apply !text-shibui-950 !opacity-20 dark:!text-shibui-200/[0.87] dark:!opacity-30;
	}

	.pagefind-ui__search-clear {
		@apply !h-[clamp(3.3rem,_7.3vw,_8.5rem)] !rounded-sm !bg-transparent !p-2 focus:!outline;
	}

	.pagefind-ui__results {
		@apply !grid-cols-[repeat(auto-fill,_minmax(400px,_1fr))] !gap-x-gap !pbe-12 lg:!grid;
	}

	.pagefind-ui__result {
		@apply !border-solid !border-black/[0.1] !border-be-1 !border-bs-0 !border-ie-0 !border-is-0 dark:!border-white/[0.1];
	}

	.pagefind-ui__result-inner,
	.pagefind-ui__message,
	.pagefind-ui__result-link {
		@apply !text-shibui-950 dark:!text-shibui-200/[0.87];
	}

	.pagefind-ui__result-link {
		@apply inline !font-semibold !text-shibui-950 !underline !decoration-shibui-900/20 !decoration-4 underline-offset-auto no-common-ligatures hover:!decoration-accent focus:!decoration-accent dark:!text-shibui-100;
	}

	.pagefind-ui .pagefind-ui__result-link {
		@apply !text-3 !font-black leading-tight;
	}

	.pagefind-ui .pagefind-ui__result-excerpt {
		@apply !text-2;
	}

	.pagefind-ui__result-excerpt mark {
		@apply !rounded !border !border-black/[0.1] !bg-marked !text-black/[0.75] !pli-[0.3em] !pbe-[0.2em] !pbs-[0.3em] dark:!bg-marked/[0.7];
	}

	.pagefind-ui__button {
		@apply !flex !items-center !justify-center !border-0 !bg-transparent !py-12 !text-4 !tracking-tight !text-shibui-950 !mbe-10 !mbs-0 focus:!outline dark:!text-shibui-200/[0.87];
	}
</style>
