---
// Cspell:words astro umami tabindex clickarea
import { Search } from './icons';
import Link from './Link.astro';
---

<Link
	aria-label="Search the website (/)"
	class="col-span-2 col-start-1 h-clickarea w-clickarea scale-75 items-center justify-center self-center justify-self-center transition-transform duration-500 ease-in-out hover:scale-90 focus:scale-90 md:col-span-1 print:hidden"
	href="#search"
	id="search-link"
	title="Search the website (/)"
>
	<button
		aria-hidden="true"
		class="flex h-clickarea w-clickarea cursor-pointer items-center justify-center border-none text-[0]"
		data-umami-event="Search"
		tabindex={-1}
		type="button"
	>
		<Search aria-hidden="true" className="icon h-icon w-icon" />
	</button>
</Link>
