---
import cx from 'classnames';

import data from '../data/subnavigation.json';

import { Link } from '.';

const currentPath = new URL(Astro.request.url).pathname;
---

<div class="glow flex gap-12">
	<ul>
		{
			data.main.map(({ title, url }) => (
				<li>
					<Link
						href={url}
						class={cx(
							'font-light decoration-4 underline-offset-auto hover:underline hover:decoration-shibui-900/20 dark:hover:decoration-shibui-100/20',
							{ 'underline !decoration-accent decoration-4': currentPath === url }
						)}
					>
						{title}
					</Link>
				</li>
			))
		}
	</ul>
	<ul class="mie-10">
		{
			data.misc.map(({ title, url }) => (
				<li>
					<Link
						href={url}
						class={`font-light decoration-4 underline-offset-auto hover:underline hover:decoration-shibui-900/20 dark:hover:decoration-shibui-100/20 ${
							currentPath === url && 'underline !decoration-accent decoration-4'
						}`}
					>
						{title}
					</Link>
				</li>
			))
		}
	</ul>
</div>
