---
// Cspell:words astro shibui
import Link from './Link.astro';

interface Props {
	active?: boolean;
	class?: string;
	href?: string;
	[key: string]: any;
}

const { active, class: className, href, ...props } = Astro.props;
---

{
	href ? (
		<Link
			href={href}
			class:list={[
				'border-3 relative inline-flex min-w-[50px] items-center justify-center rounded-25 border-2 border-shibui-350 bg-shibui-200 px-3 py-1 text-1 font-normal capitalize leading-none text-black mie-1 pbs-3 dark:border-shibui-750 dark:bg-shibui-950 dark:text-white print:hidden',
				{
					'!bg-shibui-550 !text-white hover:!bg-shibui-650 focus:!bg-shibui-650 dark:!border-shibui-500 dark:!bg-shibui-700 dark:hover:!bg-shibui-600 dark:focus:!bg-shibui-600':
						href,
					'active !text-white [&.active]:!border-black/25 [&.active]:!bg-accent': active,
				},
				className,
			]}
			{...props}
		>
			<slot />
		</Link>
	) : (
		<span
			class:list={[
				'border-3 relative inline-flex min-w-[50px] items-center justify-center rounded-25 border-2 border-shibui-350 bg-shibui-200 px-3 py-1 text-1 font-normal capitalize leading-none text-black mie-1 pbs-3 dark:border-shibui-750 dark:bg-shibui-950 dark:text-white print:hidden',
				{
					'!bg-shibui-550 !text-white hover:!bg-shibui-650 focus:!bg-shibui-650 dark:!border-shibui-500 dark:!bg-shibui-700 dark:hover:!bg-shibui-600 dark:focus:!bg-shibui-600':
						href,
					'active !text-white [&.active]:!border-black/25 [&.active]:!bg-accent': active,
				},
				className,
			]}
			{...props}
		>
			<slot />
		</span>
	)
}
