---
import { Moon, Sun } from './icons';
---

<theme-toggle class="flex h-clickarea w-clickarea print:hidden">
	<button
		aria-label="Switch color theme"
		class="group flex h-clickarea w-clickarea cursor-pointer items-center justify-center self-center border-0 text-[0]"
		data-umami-event="Switch color theme"
	>
		<div class="h-icon-small w-icon-small">
			<Sun
				id="theme-sun"
				aria-hidden="true"
				className="icon h-icon-small w-icon-small transition-transform duration-500 ease-in-out group-hover:scale-125 group-focus:scale-125 dark:hidden"
			/>
			<Moon
				id="theme-moon"
				aria-hidden="true"
				className="icon hidden h-icon-small w-icon-small transition-transform duration-500 ease-in-out group-hover:scale-125 group-focus:scale-125 dark:block"
			/>
		</div>
	</button>
</theme-toggle>

<script>
	function initializeThemeToggle() {
		if (!customElements.get('theme-toggle')) {
			class ThemeToggle extends HTMLElement {
				constructor() {
					super();
					const button = this.querySelector('button')!;

					button.addEventListener('click', () => {
						const newDark = !this.isDark();
						document.documentElement.classList[newDark ? 'add' : 'remove']('dark');
						button.setAttribute('aria-pressed', String(newDark));
						if (typeof localStorage !== 'undefined') {
							localStorage.setItem('theme', newDark ? 'dark' : 'light');
						}
						button.blur();
					});

					button.setAttribute('aria-pressed', String(this.isDark()));
				}

				isDark() {
					return document.documentElement.classList.contains('dark');
				}
			}

			customElements.define('theme-toggle', ThemeToggle);
		}
	}

	initializeThemeToggle();
	document.addEventListener('astro:after-swap', initializeThemeToggle);
</script>
