---
import { Img } from 'astro-imagetools/components';
import { Link } from '.';

import type { ToolsProps } from '../data/tools';

export interface Props {
	tools: ToolsProps[];
}

const { tools } = Astro.props;
---

<ul
	class="grid grid-cols-[repeat(auto-fit,_minmax(80px,_1fr))] items-center gap-2 rounded-2 bg-black/5 p-5 mbe-10 dark:bg-white/5 print:block"
>
	{
		tools.map(({ name, url, image }) => (
			<li class="print:[&_img]:!hidden">
				<Link href={url} title={name}>
					<Img
						alt={name}
						aspect={1}
						format="avif"
						height={300}
						placeholder="tracedSVG"
						src={image}
						width={300}
					/>
				</Link>
			</li>
		))
	}
</ul>
