---
import { Image } from 'astro:assets';
import { Link } from '.';

import type { ToolsProps } from '../data/tools';

export interface Props {
	tools: ToolsProps[];
}

const { tools } = Astro.props;
---

<ul
	class="grid grid-cols-[repeat(auto-fit,_minmax(80px,_1fr))] items-center gap-2 rounded-2 bg-black/5 p-5 mbe-10 dark:bg-white/5 print:block"
>
	{
		tools.map(({ name, url, image }) => (
			<li class="print:[&_img]:!hidden">
				<Link href={url} title={name}>
					<Image alt={name} widths={[128]} height={300} src={image} width={300} />
				</Link>
			</li>
		))
	}
</ul>
