---
import '../styles/global.css';
import { Sprite } from 'astro-icon';

export interface Props {
	title: string;
}

const { title, frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html
	lang="en"
	class="no-js box-border scroll-smooth bg-shibui-100 text-[125%] text-shibui-950 dark:bg-shibui-900 dark:text-shibui-200/[0.87]"
>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>

		<script type="module">
			document.documentElement.classList.remove('no-js');
			document.documentElement.classList.add('js');
		</script>

		<link rel="icon" href="/favicon.ico" sizes="any" />
		<link rel="icon" href="/assets/images/branding/favicons/favicon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/assets/images/branding/favicons/apple-touch-icon.png" />
		<!-- <link rel="manifest" href="/manifest.webmanifest" /> -->

		<link
			rel="preload"
			href="/assets/fonts/secuela-regular-vf.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/assets/fonts/secuela-italic-vf.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
	</head>
	<body class="flex h-screen flex-col font-sans font-normal leading-relaxed">
		<Sprite.Provider>
			<header
				class="page-header grid grid-cols-18 grid-rows-layout mbe-layout print:hidden"
				role="banner"
			>
				<!-- Backlink -->
				{
					frontmatter?.backLink ? (
						<a
							class="back-link col-span-1 col-start-1 self-center justify-self-center transition-transform duration-500 ease-in-out mie-[15px] hover:-translate-x-1 focus:-translate-x-1 print:hidden"
							href="{frontmatter.backLink}"
						>
							<button
								class="back-link-button flex h-[40px] w-[40px] cursor-pointer items-center justify-center border-none bg-transparent text-[0]"
								aria-label="Back to overview"
								type="button"
							>
								<Sprite name="ri:arrow-left-line" />
							</button>
						</a>
					) : (
						<div class="back-link-spacer col-span-1 col-start-1 h-[40px] w-[40px] justify-center self-center mie-[15px]" />
					)
				}
			</header>
			<main class="page-content flex grow">
				<slot />
			</main>
			<footer class="page-footer grid grid-cols-18 grid-rows-layout mbs-layout print:hidden">
				Footer
			</footer>
		</Sprite.Provider>
	</body>
</html>

<style>
	[astro-icon] {
		width: 24px;
		height: 24px;
	}
</style>
