---
import { Title } from '../components/Title';

import GridLayout from './GridLayout.astro';

export interface Props {
	class?: string;
	grid?: 'wide' | 'narrow';
}

const { frontmatter, class: className, grid = 'wide' } = Astro.props;
const gridVariant = frontmatter.grid || grid;
---

<GridLayout grid={gridVariant} class={className} {frontmatter}>
	<Title>{frontmatter.title}</Title>
	<slot />
</GridLayout>
